@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem);
}

* {
  margin: 0;
  font-family: 'Italiana', serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #f6f6f6;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
